<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grid task</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="node_modules/uikit/dist/css/uikit.min.css" />
</head>
<body>
    <div class="bodyWrapper">
        <div class="uk-container">
            <h1 class="uk-text-center">{{title}}</h1>

            <div class="uk-child-width-1-2@m boxItemsContainer" uk-grid>
                {% for cardItem in cards %}
                    <div class="uk-card boxItems uk-transition-toggle">
                        <div class="uk-card-media-top">
                            <div class="bgImg" style="background-image: url({{cardItem.imgUrl}})">
                                <p class="hoverText uk-padding uk-transition-slide-bottom uk-position-bottom uk-overlay">{{cardItem.hoverText}}</p>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{{cardItem.cardTitle}}</h3>
                            <p>{{cardItem.content}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

    </div>


    <script src="node_modules/uikit/dist/js/uikit.min.js"></script>
    <script src="node_modules/uikit/dist/js/uikit-icons.min.js"></script>
</body>
</html>