.uk-container {
    border: 1px solid #f2f2f2;
}
.bgImg {
    background-image: url(../images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 430px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}
.bg2 {
    background-image: url(../images/2.png);
}
.hoverText {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    color: #fff;
}
.boxItems {
    cursor: pointer;
    margin-top: 0 !important;
}
.boxItemsContainer > div:nth-child(even) {
    margin-top: 50px !important;
}
.boxItems:hover .bgImg{
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,.2);
}

@media (min-width: 768px) {
    .hoverText {
        font-size: 1.5rem;
    }
}
@media (max-width: 768px){
    .boxItemsContainer > div:nth-child(even) {
        margin-top: 0px !important;
    }
}